# ignore all
*

# allow files with extensions
!*.*

# ignore hidden files / folders
.*/*

# allow Makefile LICENSE .gitignore
!Makefile
!LICENSE
!src
!include
!tests
!test2

tests/*
test2/*
!tests/*.c
!tests/Makefile

# ignore files
*.so
*.bak
backup*

*/obj/*
*/bin/*
*/lib/*


