# ignore all
*

# allow files with extensions
!*.*

# ignore hidden files / folders
.*/*

# allow Makefile LICENSE .gitignore
!Makefile
!LICENSE
!src
!include
!tests
!test2
!test3

tests/*
test2/*
test3/*

!tests/*.c
!tests/Makefile

!test2/*.c

!test3/Makefile
!test3/*.c

# ignore files
*.so
*.bak
backup*

*/obj/*
*/bin/*
*/lib/*


